
            <div class="layout_padding-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="title">
                                <br>
                                <h2>User <strong class="black">Cart</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row"  *ngFor="let p of plist" >
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 product_detail_side">
                            <div class="abotext_box">
                                <div class="product-heading">
                                    <h2>{{p.title}}</h2>
                                </div>
                                <div class="product-detail-side">
                                    <span class="new-price">Rs. {{p.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <button class='btn btn-danger' (click)="payment()">CheckOut</button>

                    </div>
                    </div>